@charset "UTF-8";

/* Typical Devices Breakpoits
Celular: Até 600px
Tablet: 600px até 768px
Desktop: 768px 992px
TV: 992px até 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    body{
        background-image: linear-gradient(to top, #025B8A, #0375b3, #0692dd);
    }
    
    section#Login{
        width: 80vw;
        height: 290px;
    }

    section#Login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    
    section#Login > div#formulário{
        float: right;
        width: 70%;
        height: 100%;
    }

}

@media screen and (min-width: 992px){
    
    body{
        background-image: linear-gradient(to top, #025B8A, #0375b3, #0692dd);
    }
    
    section#Login{
        width: 350px;
        height: 200px;
    }

    section#Login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#Login > div#formulário {
        float: left;
        width: 50%;
        height: 100%;
    }

   
    div#formulário > h1{
        font-size: 2em;
    }

    div#formulário > p{
        font-size: 1.2em;
    }

}